<!DOCTYPE html>
<html>
<head>
  <title>Expertgroups</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <style type="text/css">
  ul { list-style-type: none; }
  .group-count, .group-code, .group-name-translated { color: grey; }
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
  dt { font-weight: bold}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
