<!DOCTYPE html>
<html>
<head>
  <title>Expertgroups</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <style type="text/css">
  body {
    font-family: sans-serif;
  }
  #page {
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    width:61em;
  }
  ul { list-style-type: none; }
  .group-count, .group-code, .group-name-translated { color: grey; }
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
  h3 {
    clear: left;
  }

  dl {
    clear: left;
    float: left;
    width: 640px;
    margin: 1em 0;
    padding: 0;
    border-bottom: 0px solid #999;
  }
  dt {
    clear: left;
    float: left;
    width: 120px;
    margin: 0;
    padding: 5px;
    border-top: 0px solid #999;
    font-weight: bold;
  }
  dd {
    float: left;
    width: 500px;
    margin: 0;
    padding: 5px;
    border-top: 0px solid #999;
  }
  </style>
</head>
<body>

  <div id="page">
    <%= yield %>

    <p>Created by <a href="http://twitter.com/delineator">@delineator</a> to make it easier to browse data on European Commission Expert Groups.</p>
  </div>

  <style>
    .wiki_content { border: 0px solid #999; }
  </style>
</body>
</html>
